body {
  background-color: teal;
  color: ivory;
  padding-top: 10px;
  font-size: 0;
}

input {
  margin-top: 5px;
  margin-bottom: 15px;
  background-color: ivory;
}

legend {
  font-size: 14px;
  font-weight: bold;
}

label {
  font-size: 16px;
}

fieldset {
  border-color: ivory;
  padding: 5px 15px;
  display: inline-block;
  margin-bottom: 20px;  
}

.inline-container{
  display: inline-block;
  margin-right: 50px;
  vertical-align: top;
}

.button {
  font-size: 16px;
  display: inline-block;
  padding: 5px 10px;
  background-color: ivory;
  color: teal;
  cursor: pointer;
  font-weight: bold;
  margin-top: 15px;
}

.button:active {
  transform: translate(1px, 1px);
}

input[type='checkbox'] {
  margin-right: 10px;
  margin-bottom: 5px;
  margin-top: 0;
  margin-left: 0;
}

.mr-0 {
  margin-right: 0;
}

#interest {
  margin-bottom: 5px;
}

#calculate {
  padding: 10px 20px;
  margin-left: 20px;
}

p {
  font-size: 14px;
  margin: 0;
}