.assets {
  width: $width-main;
  background-color: $color-bgr;
  padding: 10px 20px 10px;

  h2 {
    margin-bottom: 5px;
  }
  
  &>div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;

    &>div {
    display: inline-block;
    position: relative;
    margin-right: 30px;

      label {
        display: inline-flex;
        height: 40px;
        align-items: center;
        font-size: 16px;
        margin-bottom: 5px;

        &.error {
          color: red;
        }
        }

      #assets-titleLabel.error {
        color: red;
      }

      input {
        font-size: 14px;
        font-weight: bold;
        width: 140px;
        background-color: cornsilk;
        border: none;
        margin-bottom: 5px;
      
        &#assets-title {
          width: 220px;
        }

        &:focus {
          outline: none;
        }

        &.error {
          color: red;
        }
      }

      .checkboxDiv {
        input {
          width: 15px;
          position: relative;
          top: 3px;
        }

      .checkboxSubDiv {
        label {
          display: inline;
        }
      }

        label {
          font-size: 12px;
        }
      }
    
      .assets-increaseFieldset {
        display: inline-block;
        padding: 5px 0px 10px 15px;

        input {
          width: 14px;
          margin-bottom: 0;  
          position: relative;
          top: 3px;      
        }

        label {
          margin: 2px 20px 0 0;
          display: inline-block;
          height: auto;
        }
      }

      
      p {
        padding: 0;
        margin: 0 0 5px 0;
      }

      select {
        background-color: cornsilk;
        font-weight: bold;
      }

      #assets-incomeChange {
        width: 35px;
        margin-right: 7px;
      }

      #slash {
        font-weight: bold;
        font-size: 35px;
        position: absolute;
        bottom: 10px;
        left: 35px;
      }
    }
  }  

  p {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
  }
  
}