div.button {
  padding: 5px 14px;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
  background-color: cornsilk;

  &:active {
    transform: translate(1px, 1px);;
  }
}

div.button--large {
  padding: 8px 30px;
  font-weight: bold;
}

.button-holder {
  width: $width-main;
  padding: 20px;
  background-color: $color-bgr; 
}